
.GalleryCard {
  position: relative;
  top: 0;
  left: 0;

  color: $white;
  transition: 1.5s linear;

  &:hover {
    transform: translateY(-5%) scale(1.1);
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    
    background-color: $primary4;
    transition: background-color 0.8s linear;

    h2 {
      height: 33%;
    }
  }
  .card-overlay:hover {
   background-color: $primary2;
  }
}