.animation-load-text-left {
  animation: 1s linear 0s 1 forwards animation-load-text-left;
}
.animation-load-text-right {
  animation: 1s linear 0s 1 forwards animation-load-text-right;
}
@keyframes animation-load-text-left {
  0% {left: -60%;}
  100% {
    @media screen and (max-width: 1500px) {
      left: 0%;
    }
    @media screen and (min-width: 1500px) {
      left: 10%;
    }
  }
}
@keyframes animation-load-text-right {
  0% {right: -60%;}
  100% {
    @media screen and (max-width: 700px) {
      right: 0%;
    }
    @media screen and (min-width: 700px) {
      right: 10%;
    }
  }
}



.animation-load-img-left {
  animation: 1s linear 0s 1 both animation-load-img-left;
}
.animation-load-img-right {
  animation: 1s linear 0s 1 both animation-load-img-right;
}
@keyframes animation-load-img-left {
  0% {
    left: -110%;
    opacity: 0;
  }
  80% {opacity: 0.5;}
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes animation-load-img-right {
  0% {
    left: 110%;
    opacity: 0;
  }
  80% {opacity: 0.5;}
  100% {
    left: 0%;
    opacity: 1;
  }
}



.animation-load-card-right {
  animation: 1s linear 0s 1 both animation-load-card-right;
}
@keyframes animation-load-card-right {
  0% {
    left: 100%;
    opacity: 0;  
  }
  80% {opacity: 0.5;}
  100% {
    left: 0%;
    opacity: 1;
  }
}



.animation-swap-img-left {
  animation: 1s linear 5s infinite both alternate animation-swap-img-left;
}
.animation-swap-img-right {
  animation: 1s linear 5s infinite both alternate animation-swap-img-right;
}
.paused {
  animation-play-state: paused;
}
@keyframes animation-swap-img-left {
  0% {left: 0%;}
  10% {left: 0%;}
  90% {left: 100%;}
  100% {left: 100%;}
}
@keyframes animation-swap-img-right {
  0% {left: 0%;}
  10% {left: 0%;}
  90% {left: -100%;}
  100% {left: -100%;}
}


.animation-load-opacity {
  animation: 1s linear 0s 1 both animation-load-opacity;
}
@keyframes animation-load-opacity {
  0% {opacity: 0;}
  80% {opacity: 0.5;}
  100% {opacity: 1;}
}