* {
  margin: 0%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgba(248, 246, 246, 0.801), rgba(255, 255, 255, 0.609));
}

.NavBar {
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.061) 45%, rgba(0, 0, 0, 0.774) 100%);


  .NavTitle {
    width: 100%;
    height: 67%;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .NavButtons {
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .NavButtonsBox {
      height: 100%;
      width: 20%;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.904) 100%);
      background-size: 400%;
      background-position: left center;
      transition: 0.8s linear;
    }
    p {
      z-index: 2;
    }
    .NavButtonsBox:hover {
      border: 1px solid grey;
      background-position: right center;
      width: 33%;
      p {
        color: rgb(255, 255, 255);
        mix-blend-mode: difference;
      }
    }
  }
}



.NavGalleries {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid grey;
  border-top: 1px solid grey;

  .NavGalleriesButtonBoxLeft {
    height: 100%;
    width: 25%;
    padding-right: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;

    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.904) 100%);
    background-size: 400%;
    background-position: right center;
    transition: 0.8s linear;

    i {
      padding-right: 3%;
      transition: padding-right 0.8s linear;
    }
  }

  .NavGalleriesButtonBoxLeft:hover {
    border-right: 1px solid grey;
    width: 35%;
    background-position: left center;
    i {
      padding-right: 5%;
      color: rgb(255, 255, 255);
      mix-blend-mode: difference;
    }
    p {
      color: rgb(255, 255, 255);
      mix-blend-mode: difference;
    }
  }

  .NavGalleriesButtonBoxRight {
    height: 100%;
    width: 25%;
    padding-left: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.904) 100%);
    background-size: 400%;
    background-position: left center;
    transition: 0.8s linear;
    
    i {
      padding-left: 3%;
      transition: padding-left 0.8s linear;
    }
  }

  .NavGalleriesButtonBoxRight:hover {
    border-left: 1px solid grey;
    width: 35%;
    background-position: right center;
    i {
      padding-left: 5%;
      color: rgb(255, 255, 255);
      mix-blend-mode: difference;
    }
    p {
      color: rgb(255, 255, 255);
      mix-blend-mode: difference;
    }
  }
  .NavGalleriesButton {
    height: 100%;
  }
}

.Galleries {
  width: 100%;

  .GalleryList {
    width: 100%;
  
    display: flex;
    justify-content: center;
  }

  .GalleryCard {
    width: 300px;
    height: 300px;
  
    color: white;
  
    background-size: 100%;
    background-position: center;
    -webkit-transition: background-size 1500ms linear;
    -moz-transition: background-size 1500 linear;
    -o-transition: background-size 1500 linear;
    -ms-transition: background-size 1500ms linear;
    transition: background-size 1500ms linear;

    .card-overlay {
      width: 100%;
      height: 100%;
      
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      z-index: 0;
      background-color: rgba(10, 10, 10, 0.212);
      transition: background-color 0.8s linear;
    }
    .card-overlay:hover {
     background-color: rgba(14, 13, 13, 0.315);
    }
  }
}
.GalleryCard:hover {
  background-size: 110%;
  background-position: center;
}


.Gallery {
  width: 100%;

  .GalleryTitle {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid grey;
    
    h2 {
      width: 33%;
    }
  }
  
  .DisplayPicture {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(17, 16, 16, 0.664);
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    transition: left 1s linear;

    .big-picture {
      width: 80%;
      height: 80%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: width 0.5s linear;
    }

    .display-side-block {
      width: 10%;
      height: 10%;
      background-color: rgba(0,0,0,0);
      transition: background-color 1s linear;

      i {
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    i:hover {
      background-color: rgba(246, 243, 243, 0.664);
      color: rgb(0, 0, 0)
    }
  }

  .photo-gallery {
    width:  100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.061) 45%, rgba(0, 0, 0, 0.774) 100%);

    .Picture {
      overflow: hidden;
      margin-right: 4px;
      margin-top: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      .photo {
        transition: transform 1.5s;
      }
      .photo:hover {
        transform: translateY(-5%) scale(1.1);
      }
    }
  }
}

.Footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid grey;

  .Contact {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      width: 100%;
    }
  }
  .FooterDesignBlock {
    height: 25%;
    width: 100%;
    border-top: 1px solid grey;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.061) 45%, rgba(0, 0, 0, 0.774) 100%);
  }
}