.template-left {
  bottom: 0%;
  left: 0%;
}
.template-right {
  bottom: 0%;
  right: 0%;
}

@media screen and (min-width: 700px) {
  .GalleryPresentationInfos {
    width: 33%;
  }
}

@media screen and (max-width: 700px) {
  .GalleryPresentationInfos {
    width: 100%;
  }
}

.GalleryPresentationInfos {
  position: absolute;

  height:35%;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  background: $primary2;
  color: $secondary;

  overflow: hidden;
  transition: 1s linear;

  h3 {
    width: 80%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: height 2s linear;
  }

  .btn-gallery {
    width: 35%;
    height: 40px;
    margin-bottom: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: $primary;
    background-color: $secondary2;
  }

  .description-txt {
    width: 80%;
    height: 50%;
    margin-bottom: 15%;

    text-align: center;
    overflow: scroll;
  }
}
.GalleryPresentationInfos:hover {
  height: 100%;

  h3 {
    height: 20%;
  }
}