.About {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $secondary;

  @media screen and (min-width: 1700px) {
    .img-description {
      width: 25%;
    }
    .description {
      width: 25%;
    }
  }
  @media screen and (min-width: 1400px) and (max-width: 1700px) {
    .img-description {
      width: 30%;
    }
    .description {
      width: 30%;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1400px) {
    .img-description {
      width: 40%;
    }
    .description {
      width: 40%;
    }
  }
  @media screen and (max-width: 1000px) {
    .img-description {
      width: 80%;
    }
    .description {
      width: 80%;
    }
  }
  
  .description-bg {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: $primary;

    .img-description {
      height: 550px;
      background-color: $secondary;
    }
  
    .description-txt::-webkit-scrollbar {
      display: none;
    }
    .description {
      height: 100%;

      margin: 5% 0% 5% 5%;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $secondary;

      .description-txt {
        width: 100%;
        height: 70%;

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
  
      }
      p {
        width: 80%;
        padding-bottom: 20px;

        text-align: center;
      }
    }
  }
}