@import 'components/navigation/NavGalleries/index.scss';
@import 'components/DisplayPicture/index.scss';
@import 'components/GalleryImagesList/index.scss';

.Gallery::-webkit-scrollbar {
  display: none;
}
.Gallery {
  width: 100%;
  height: 55%;
}
