@import 'components/navigation/NavGalleries/index.scss';
@import 'components/DisplayPicture/index.scss';
@import 'components/GalleryImagesListBox/index.scss';

.Gallery::-webkit-scrollbar {
  display: none;
}
.Gallery {
  position: relative;
  top: 0%;
  left: 0%;

  width: 100%;
  min-height: 55%;
}
