.Home {
  width: 100%;

  .background-main {
    background: $background-secondary;
  }
  .background-body {
    background: $background-body;
  }
  p::-webkit-scrollbar {
    display: none;
  }


  @media screen and (min-width: 1800px) {
  
    .text-presentation {
      width: 30%;
    }
    .template-left {
      bottom: 0%;
      left: 10%;
    }
    .template-right {
      bottom: 0%;
      right: 10%;
    }
    .photo-presentation {
      width: 80%;
      height: 600px;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 1800px) {
   
    .text-presentation {
      width: 40%;
    }
    .template-left {
      bottom: 0%;
      left: 0%;
    }
    .template-right {
      bottom: 0%;
      right: 0%;
    }
    .photo-presentation {
      width: 100%;
      height: 600px;
    }
  }

  @media screen and (max-width: 700px) {
  
    .text-presentation {
      width: 50%;
      left: 0;
    }
    .template-left {
      bottom: 0%;
      left: 0%;
    }
    .template-right {
      bottom: 0%;
      right: 0%;
    }
    .photo-presentation {
      width: 100%;
      height: 600px;
    }
  }

  .GalleryPresentation {
    width: 100%;
    
    .design {
      position: relative;
      top: 0;
      left: 0;
      min-height: 600px;
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .text-presentation {
        position: absolute;

        height: 300px;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background: $black2;
        color: white;

        transition: height 1s linear;
        h3 {
          width: 80%;
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        p {
          width: 80%;
          height: 65%;
          
          margin-bottom: 8%;
          text-align: center;
          overflow: scroll;
        }
      }
      .text-presentation:hover {
        height: 100%;
      }
      .photo-presentation {
    
        display: flex;
        justify-content: center;
        align-items: center;
  
        .photo-presentation-lg {
          height: 100%;
          width: 100%;
  
          background-size: 100% 800px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
