@import '../components/GalleryPresentation/index.scss';

.Home {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;

  p::-webkit-scrollbar {
    display: none;
  }

  .animation-load-text-left {
    animation: 1s linear 1 both animation-load-text-left;
  }
  .animation-load-text-right {
    animation: 1s linear 1 both animation-load-text-right;
  }
  .animation-load-img-left {
    animation: 1s linear 1 both animation-load-img-left;
  }
  .animation-load-img-right {
    animation: 1s linear 1 both animation-load-img-right;
  }
  .animation-swap-img-left {
    animation: 1s linear 5s infinite both alternate animation-swap-img-left;
  }
  .animation-swap-img-right {
    animation: 1s linear 5s infinite both alternate animation-swap-img-right;
  }
  .paused {
    animation-play-state: paused;
  }

  @keyframes animation-load-text-left {
    0% {left: -60%;}
    100% {left: 0%;}
  }
  @keyframes animation-load-text-right {
    0% {right: -60%;}
    100% {right: 0%;}
  }
  @keyframes animation-load-img-left {
    0% {left: -110%;}
    100% {left: 0%;}
  }
  @keyframes animation-load-img-right {
    0% {left: 110%;}
    100% {left: 0%;}
  }
  @keyframes animation-swap-img-left {
    0% {left: 0%;}
    10% {left: 0%;}
    90% {left: 100%;}
    100% {left: 100%;}
  }
  @keyframes animation-swap-img-right {
    0% {left: 0%;}
    10% {left: 0%;}
    90% {left: -100%;}
    100% {left: -100%;}
  }
 
}
