.Home {
  width: 100%;

  .background-main {
    background: $background-secondary;
  }
  .background-body {
    background: $background-body;
  }
  p::-webkit-scrollbar {
    display: none;
  }

  .animation-load-text-left {
    animation: 1s linear 1 both animation-load-text-left;
  }
  .animation-load-text-right {
    animation: 1s linear 1 both animation-load-text-right;
  }
  .animation-load-img-left {
    animation: 1s linear 1 both animation-load-img-left;
  }
  .animation-load-img-right {
    animation: 1s linear 1 both animation-load-img-right;
  }
  .animation-swap-img-left {
    animation: 1s linear 5s infinite both alternate animation-swap-img-left;
  }
  .animation-swap-img-right {
    animation: 1s linear 5s infinite both alternate animation-swap-img-right;
  }
  .paused {
    animation-play-state: paused;
  }
  .running {
    animation-play-state: running;
  }


  



  @media screen and (min-width: 700px) {
   
    @keyframes animation-load-text-left {
      0% {left: -60%;}
      100% {left: 0%;}
    }
    @keyframes animation-load-text-right {
      0% {right: -60%;}
      100% {right: 0%;}
    }
    @keyframes animation-load-img-left {
      0% {left: -110%;}
      100% {left: 0%;}
    }
    @keyframes animation-load-img-right {
      0% {left: 110%;}
      100% {left: 0%;}
    }
    @keyframes animation-swap-img-left {
      0% {left: 0%;}
      10% {left: 0%;}
      90% {left: 100%;}
      100% {left: 100%;}
    }
    @keyframes animation-swap-img-right {
      0% {left: 0%;}
      10% {left: 0%;}
      90% {left: -100%;}
      100% {left: -100%;}
    }

    .design {
      min-height: 1000px;
    }
    .text-presentation {
      width: 40%;
    }
    .template-left {
      bottom: 0%;
      left: 0%;
    }
    .template-right {
      bottom: 0%;
      right: 0%;
    }
    .photo-presentation {
      width: 100%;
      height: 1000px;
      left: 0%;
    }
    .active-right {
      top: 0%;
      left: 100%;
    }
    .active-left {
      top: 0%;
      left: -100%;
    }
  }

  @media screen and (max-width: 700px) {

    @keyframes animation-load-text-left {
      0% {left: -60%;}
      100% {left: 0%;}
    }
    @keyframes animation-load-text-right {
      0% {right: -60%;}
      100% {right: 0%;}
    }
    @keyframes animation-load-img-left {
      0% {left: -110%;}
      100% {left: 0%;}
    }
    @keyframes animation-load-img-right {
      0% {left: 110%;}
      100% {left: 0%;}
    }
    @keyframes animation-swap-img-left {
      0% {left: 0%;}
      100% {left: 100%;}
    }
    @keyframes animation-swap-img-right {
      0% {left: 0%;}
      100% {left: -100%;}
    }

    .design {
      min-height: 400px;
    }
    .text-presentation {
      width: 70%;
    }
    .template-left {
      bottom: 0%;
      left: 0%;
    }
    .template-right {
      bottom: 0%;
      right: 0%;
    }
    .photo-presentation {
      width: 100%;
      height: 400px;
      left: 0%;
    }
    .active-right {
      top: 0%;
      left: 100%;
    }
    .active-left {
      top: 0%;
      left: -100%;
    }
  }

  .GalleryPresentation {
    width: 100%;
    
    .design {
      position: relative;
      top: 0;
      left: 0;
      
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .text-presentation {
        position: absolute;

        height: 60%;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background: $black2;
        color: white;

        transition: height 1s linear;

        h3 {
          width: 80%;
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        p {
          width: 80%;
          height: 65%;
          
          margin-bottom: 8%;
          text-align: center;
          overflow: scroll;
        }
      }
      .text-presentation:hover {
        height: 100%;
      }
      .photo-presentation {
        position: absolute;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        .active {
          top: 0%;
          left: 0%;
        }
        
        .photo-presentation-lg {
          position: absolute;
          
          height: 100%;
          width: 100%;
  
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
