.Footer {
  width: 100%;
  min-height: 200px;
  padding-bottom: 5%;

  display: flex;
  flex-direction: column;
  flex: 2;

  background: $background-primary;
  
  .Contact {
    width: 100%;
    height: 100%;

    color: $secondary;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h2 {
      width: 100%;
      height: 20%;

      margin-top: 5%;
      margin-bottom: 15px;

      text-align: center;
    }

    .contact-info {
      width: 100%;
      height: 80%;
      margin-top: 20px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      h3, h4 {
        width: 100%;
        margin-bottom: 15px;

        text-align: center;
      }

      .networks {
        height: 30%;
        width: 10%;
        margin-top: 30px;
        margin-left: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $secondary;
        color: $primary;

        i {
          width: 100%;
          padding: 5px;
          text-align: center;
        }
        p {
          width: 100%;
          text-align: center;
        }
      }

      .copyrights {
        width: 100%;
        margin-top: 90px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        p {
          margin-left: 5px;
        }
      }
    }
  }
}