.DisplayPicture {
  position: fixed;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background-color: $primary;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  transition: left 1s linear;

  .big-picture {
    width: 80%;
    height: 80%;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .overlay {
    width: 100%;
    height: 100%;
    opacity: 0;

    background-color: $primary;
  }
  .animation-load-big-picture{
    animation: animation-load-opacity 1s linear 0s 2 alternate both;
  }

  .display-side-block {
    width: 10%;
    height: 10%;

    background-color: rgba(0,0,0,0);
    transition: background-color 1s linear;

    i {
      width: 100%;
      height: 100%;

      color: $secondary;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  i:hover {
    background-color: $secondary2;
    color: $primary;
  }
}